body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-body {
    background: linear-gradient(to right, white, #33AEFF); /* Simple gradient background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border-radius: 15px;
}

.login-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #D2D2D2;
    border-radius: 0;
    padding: 15px 0;
    position: relative;
    box-sizing: border-box;
}

.login-form .form-control:focus {
    border-bottom-color: #0056b3;
    box-shadow: none;
    outline: 0;
}

.login-form .form-control::placeholder {
    color: #ccc;
}

.login-form .btn-custom {
    background: #0056b3;
    border-color: #0056b3;
    color: white;
}

.btn-custom:hover {
    background: #004885;
}

.forgot-link a {
    text-decoration: none;
    color: #0062E6;
}

.forgot-link a:hover {
    text-decoration: underline;
}
